@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: noto sans;
    color: white;
}

body {
    background-color: #121212;
}

main {
    padding-left: 18%;
    padding-right: 18%;
}

.firstp:first-letter {
    float: left;  
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
    margin-right: 3px;
    
}

/*heading stylings*/

h1 {
    font-family: sora;
    font-weight: 900;
    font-size: 200%;
    text-align: center;
    border-bottom: 2px solid #ffffffa0;
}
h2 {
    font-family: noto sans;
    font-weight: 500;
    font-size: 120%;
}

/*header styling*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

header hgroup {
    justify-content: center;
    text-align: center;
    width: 40%;
}

header hgroup h1 {
    padding: 24px;
    box-sizing: border-box;
}

header figure {
    width: 60%;
}

figcaption {
    font-size: 10px;
    margin-top: 8px;
    font-size: 12px;
    color: #c0c0c0;
    text-align: center;
}

header img {
    width: 100%;
    object-fit: cover;
}

/* nav stylings*/

menu {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    top: 0;
    background-color: #1D1E22;
    border-bottom: 5px solid #37036a;
}

menu li {
    padding: 8px 8px 8px 32px;
    list-style: none;
    font-size: 16px;
    background-color: inherit;
}

menu a {
    color: #818181;
    text-decoration: none;
    background-color: inherit;
}

menu a:hover {
    color: #dedede;
}


/* section styling */

section {
    height: auto;
    padding: 50px;
    align-items: center;
}

section p {
    text-align: justify;
}

section iframe {
    height: 100%;


}

p {
    font-size: 14px;
    margin: 24px;
}

.ytvid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0;
}

.ytvid iframe {
    width: 80%;
    max-width: 560px;
    height: 315px;
}



blockquote {
    font-style: italic;
    text-align: center;
    font-size: 18px;
}

blockquote.trans {
    font-size: 14px;
}

/*Only for the Aside objects*/

aside {
	background-color: #37036aa9;
	padding: 10px;
	width: 18%;
	position: fixed;
}

aside img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

aside.left {
	top: 40%;
	left: 0;
	transition: all 0.5s;
}

aside.leftOff {
	transform: translateX(-100%);
}

aside.right {
	top: 40%;
	right: 0;
	transition: all 0.5s;
}

aside.rightOff {
	transform: translateX(100%);
}

/* back to top button */


#BTT {
    text-align: center;
    width: 20%;
    position: fixed; 
    left: 30px;
    bottom: 20px;
    z-index: 2;
    border: none; 
    outline: none; 
    background-color: #1D1E22;
    color: #818181; 
    cursor: pointer;
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}
  
#BTT:hover {
color: #dedede;
}